.popup__close-button {
    margin-left: 481px;
    margin-top: -332px;
    cursor: pointer;
    background-image: url(../../../images/CloseIcon.svg);
    border: none;
    background-color: transparent;
    width: 32px;
    aspect-ratio: 1/1;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: .2s;
}


@media screen and (max-width:600px) {
    .popup__close-button {
        background-size: cover;
        max-width: 22px;
        max-height: 22px;
        margin-left: 262px;
        margin-top: -335px;

    }
}